body {
    background-image: url("backgroundPic.jpg");
    display:block;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: rgb(225, 230, 253);
    text-align: center;
}

header{
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#tripDetails, #title, #prefName {
    text-align: center;
}
#tripDetails {
    width: 100%;
}

footer {
    text-align: center;
}

ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;

}

button:hover {
    transition: .5s;
    background-color: #dcf7d1;
}

#clear-post, #delete-post {
    background-color: #ffffff;
}

#delete-post:hover {
    transition: .5s;
    background-color: #fee5e8;
}

#clear-post:hover {
    transition: .5s;
    background-color: #fee5e8;
}

a {
    text-decoration:underline;  
    color: #1f201c;       
}

a:hover {
    color: #ffffff; 
    background-color: #6e6e6e;
    padding: 5px;
    border-radius: 5px;
}

h3 {
    font-weight:normal;
    border: #e4f2e0;
    border-style:double;
    border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
    }
  
    footer {
        padding: 5px;
    }
    li a {
        display: block;
        text-align: center;
    }

    #travelPost {
        text-align: center;
    }
  
  }