body {
    margin: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #e7cccc;
    text-align: center;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}
